/* Productos */

.productos-carousel-img {
    height: 31.25rem;
    filter: brightness(0.6);
    object-fit: cover;
}

.productos-caption-heading {
    text-transform: uppercase;
    font-size: 3rem;
    margin-top: 3rem;
}

.productos-title {
    font-size: 3rem;
    font-weight: 500;
}

.productos-desc {
    font-size: 1.2rem;
}

.linea-gaming-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    row-gap: 2;
}

.productos-cards-item {
    position: relative;
}

.productos-cards-img {
    height: 25rem;
    border-radius: 10px;
    padding: 0;
    margin: 0;
}

.productos-info {
    height: 25rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    opacity: 0;
    cursor: pointer;
    transition: linear 500ms;
    &:hover {
        opacity: 1;
    }
}

// Queries

@media (max-width: 991px) {
    .productos-caption-heading {
        margin-top: 7.5rem;
    }

    .productos-desc {
        max-width: 1000px;
        text-align: center;
    }

    .productos-title {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .productos-caption-heading {
        font-size: 2.5rem;
        margin-top: 12.6rem; 
    }
} 

@media (max-width: 440px) {
    .productos-caption-heading {
        font-size: 2rem;
    }
}

@media (max-width: 400px) {
    .productos-cards-img {
        height: 20rem;
    }
    
   .productos-info {
    height: 20rem;
   }
}

@media (max-width: 382px) {
    .productos-caption-heading {
        margin-top: 7rem;
   }
}

@media (max-width: 350px) {
    .productos-caption-heading {
        font-size: 1.6rem; 
        margin-top: 7.5rem;
    }
}


@media (max-width: 324px) {
    .productos-cards-img {
        height: 18rem;
    }
    
   .productos-info {
    height: 18rem;
   }
}

@media (max-width: 314px) {
    .productos-cards-img {
        height: 15rem;
    }
    
   .productos-info {
    height: 15rem;
   }

   .productos-caption-heading {
    margin-top: 10.5rem;
    font-size: 1.5rem;
   }
}