/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General */

body {
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    background-color: #e9ecef;
    font-weight: 400;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}


/* Nav */

.navbar-brand__logo {
    height: 60px
}

.navbar-brand {
    font-weight: 500;
}

.nav-link {
    margin-left: 100px;
}

.navbar {
    font-size: 1.4rem;
    font-weight: 400;
}

.nav-link:hover {
    color: rgb(0, 0, 0);
}

.navbar-top {
    background-color: black;
    color: white;
}

@media (max-width: 991px) {
    .nav-link {
        margin-left: 0;
    }
}

@media (max-width:1201px) {
    .search-icon {
        visibility: hidden;
    }
}

.navbar-toggler {
    border: none;
}

@media (max-width: 376px) {
    .navbar-top {
        font-size: 16px;
    }
}

@media (max-width: 310px) {
    .navbar-top {
        font-size: 14px;
    }
}

/* Comienzo del Index */

/* Carousel */

.carousel-img {
    height: 31.25rem;
    object-fit: cover;
    filter: brightness(0.5);
}

.carousel-caption {
    font-family: 'Jost', sans-serif;
   font-size: 1.5rem;
   color: white;
   top: 0;
   margin-top: 10rem;
}

.carousel-title {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

.carousel-desc {
    font-weight: 300;
    font-size: 1.4rem;
    text-align: center;
}

@media (max-width: 992px) {
    .carousel-caption {
        margin-top: 8rem;
    }
}

@media (max-width: 768px) {
    .carousel-caption {
        margin-top: 3rem;
    }
}

@media (max-width: 516px) {
    .carousel-caption {
        margin-top: 1rem;
    }
}

@media (max-width: 482px) {
    .carousel-caption {
        margin-top: 0.5rem;
    }
}

@media (max-width: 440px) {
    .carousel-desc {
        font-size: 1.3rem;
    }
}

@media (max-width: 380px) {
    .carousel-title {
        font-size: 2rem;
    }

    .carousel-desc {
        font-size: 1rem;
    }

    .carousel-caption {
        margin-top: 6rem;
    }
}

@media (max-width: 250px) {
     .carousel-title {
        font-size: 1.5rem;
    }

    .carousel-desc {
        font-size: 0.8rem;
    }
}

/* Hero */

.hero {
    border-radius: 20px;
}

.hero-img {
    width: 100%;
}

.hero-bottom {
    max-width: 600px;
}

.hero-heading {
    text-transform: uppercase;
    font-size: 5rem;
}

.hero-main {
    background-color: white;
    height: 31.25rem;
    overflow: hidden;
}

.hero-main-logo {
    filter: grayscale(20%);
    width: 40rem;
    height: 31.25rem;
    object-fit: cover;
    display: inline-block;
}

.hero-main-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.hero-bottom-hidden {
    display: none;
}

@media (max-width: 1398px) {
    .hero-main-logo {
        width: 37rem;
        object-fit: contain;
    }
}

@media (max-width: 1199px) {
    .hero-main-logo {
        width: 33rem;
    }

    .hero-heading {
        font-size: 3.6rem;
    }

    .hero-bottom {
        font-size: 1rem;
        max-width: 300px;
    }
}

@media (max-width: 1095px) {
    .hero-main-logo {
        object-fit: contain;
    }
}

@media (max-width: 992px) {
    .hero-main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-end;
        height: 45rem;
    }

    .hero-main-logo {
        width: 25rem;
        height: 31.25rem;
    }

    .hero-bottom {
        font-size: 1rem;
        max-width: 600px;
    }

    .hero-heading {
        font-size: 4rem
    }
    
    .hero-top {
        margin-top: 0px;
    }
}

@media (max-width: 768px) {
   

    .hero-main-logo {
        object-fit: contain;
        height: 55%;
        width: 90vw;
        margin-bottom: 20px;
    }

    .hero-top {
        font-size: 0.9rem;
    }

    .hero-bottom {
        font-size: 0.9rem;
        max-width: 400px;
    }

    .hero-heading {
        font-size: 3rem;
    }

    .hero-main {
        height: 40rem;
    }

}

@media (max-width: 375px) {
    .hero-main-logo {
        width: 18rem;
        height: 50%;
        margin-bottom: 15px;
    }

    .hero-bottom {
        max-width: 300px;
        font-size: 0.9rem;
    }

    .hero-top {
        font-size: 1rem;
    }

@media (max-width: 330px) {
    .hero-main {
        height: 50rem;
    }

    .hero-bottom {
        max-width: 200px;
    }

    .hero-main-logo {
        object-fit: cover;
        }
    }
}   
/* Novedades */

.ultimos-productos {
    font-size: 60px;
    text-transform: capitalize;
}

/* .novedades-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-template-rows: auto;
    object-fit: contain;
    gap: 10rem;
} */

.novedades-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    row-gap: 2rem;
    flex-wrap: wrap;
}

.card-img-top, 
.card
 {
    filter: grayscale(100%);
    transition-duration: 500ms;
}

.card-img-top:hover {
    filter: grayscale(0%);
}

.card {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    width: 25rem;
    transition-property: transform;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
    filter: grayscale(0%);
}



@media (max-width: 1398px) {
    .novedades-cards {
        justify-content: center;
        gap: 6.25rem;
        row-gap: 2.5rem;
    }

    .card {
        width: 31rem;
    }

}

@media (max-width: 1198px) {
    .card {
        width: 25rem;
    }
}

@media (max-width: 991px) {
    .card {
        width: 75%;
    }

    .ultimos-productos-heading,
    .ultimos-productos-text {
        text-align: center;
    } 

}

/* Equipos slider */

#equipos-slider {
    background-color: black;
}

.equipos-heading {
    font-weight: 500;
    font-size: 2rem;
    color: white;
    padding: 2rem 0;
}

.equipos-logo {
    object-fit: cover;
}

/* Seccion starset */

.starset {
    background-color: white;
    height: 20rem;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    overflow: hidden;
    gap: 3rem;
}

.starset-bottom-index-img {
    height: 40rem;
    object-fit: cover;
}

.starset p {
    max-width: 500px;
}

@media (max-width: 1398px) {
    .starset-bottom-index-img {
        height: 30rem;
    }
}

@media (max-width: 1198px) {
    .starset-bottom-index-img {
        height: 25rem;
    }

    .starset {
        gap: 1rem;
    }

    .starset p {
        max-width: 450px;
        font-size: 1rem;
    }
}

@media (max-width: 991px) {
    .starset p {
        max-width: 300px;
        text-align: center;
    }

    .starset-bottom-index-img {
        height: 20rem;
    }    
}

@media (max-width: 768px) {
    .starset {
        height: 30rem;
        flex-wrap: wrap;
    }

    .starset-bottom-index-img {
        margin-top: 1rem;   
    }

    .starset p {
        max-width: 400px;
        text-align: center;
    }
}
 
/* Starset link */

.starset-link {
    width: 100%;
}

.starset-link-body {
    background-image: url(../assets/starset-link.png);
    height: 20rem;
    background-repeat: no-repeat;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 5px;
    row-gap: 5px;
}

.starset-link-title {
    font-size: 3rem;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0;
}

.starset-link-text {
    font-size: 1.7rem;
    color: white;
    font-weight: 300;
    max-width: 600px;
}

.starset-link-text, 
.starset-link-title,
.starset-link-email {
    padding-left: 60px;
}

.starset-link-email {
    font-size: 1.5rem;
    color: white;
    font-weight: 300;
}

.starset-link-input {
    border-radius: 30px;
    padding: 0 20px;
    display: inline-block;
    margin-bottom: 20px;
    width: 30%;
}

.btn-success {
    border-radius: 30px;
    padding: 0 20px;
    font-size: 1.5rem;
}

@media (max-width: 1398px) {
   .starset-link-email {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   }

   .starset-link-body {
    flex-wrap: wrap;
   }

   .starset-link-input {
    width: 100%;
   }

}

@media (max-width: 991px) {
    .starset-link-title {
        font-size: 2.5rem;
    }

    .starset-link-text {
        font-size: 1.8rem;
    }

    .starset-link-text, 
    .starset-link-title,
    .starset-link-email {
        padding-left: 0;
    }

    .starset-link-text,
    .starset-link-title {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .starset-link-body {
        height: 30rem;
    }

    .starset-link-email {
        width: 90%;
        align-self: center;
    }

}

/* Comienzo de sobre nosotros */

.sobre-nosotros {
    background-color: white;
    height: 10rem;
    overflow: hidden;
}

.nosotros-header-img {
    object-fit: contain;
    height: 10rem;
    filter: brightness(0.7);
    filter: grayscale(100%);
}

.nosotros-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.nosotros-header-heading {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 2.5rem;
}

.nosotros-heading {
    font-weight: 400;
    font-size: 4rem;
    text-transform: uppercase;
}

.nosotros-desc {
    font-weight: 400;
    font-size: 1rem;
    color: rgb(119, 119, 119);
}

.nosotros-mid-img {
    background-image: url(../assets/about-us/about-us-top.png);
    height: 31.25rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    display: flex;
}

.nosotros-mid-img i {
    color: white;
    margin: 29rem auto;
    cursor: pointer;
    font-size: 1rem;
}

.nosotros-card-img {
    object-fit: cover;
    height: 31.25rem;
    filter: grayscale(100%);
}

/* 
.nosotros-card {
    background-color: white;
    height: 31.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 2rem;
} */

.nosotros-card-desc {
    background-color: white;
    height: 31.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.nosotros-card-text {
    font-size: 1rem;
    max-width: 550px;
    line-height: 1.2rem;
    text-align: center;
}

.nosotros-card-heading {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgb(203, 203, 203);
    text-align: start;
    display: inline;
}

@media (max-width: 768px) {
    .nosotros-card-text {
        max-width: 400px;
    }
}

@media (max-width: 475px) {
    .nosotros-card-heading {
        font-size: 1.5rem;
    }

    .nosotros-card-text {
        max-width: 300px;
    }
}

@media (max-width: 359px) {
    .nosotros-card-desc {
        height: 35rem;
    }

    .nosotros-card-heading {
        font-size: 1.5rem;
        text-align: center;
    }

    .nosotros-card-text {
        max-width: 200px;
    }
}

.artistas-img {
    background-image: url(../assets/about-us/about-us-artist.jpg.png);
    height: 31.25rem;
    background-size: cover;
    background-position: 40% 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2rem;
}

.artistas-heading {
    font-size: 2.5rem;
    color: white;
    text-transform: capitalize;
    padding-bottom: 1rem;
    border-bottom: 1px solid white;
}

.artistas-text {
    font-size: 1rem;
    color: white;
    padding-top: 1rem;
    max-width: 600px;
    line-height: 1.2rem;
}

@media (max-width: 768px) {
    .artistas-text {
        max-width: 400px;
    }
}

@media (max-width: 578px) {
    .artistas-heading {
        font-size: 1.5rem;
    }
}



/* footer */

.footer {
    background-color: white;
    font-size: 23px;
    height: 53rem;
}

.productos__ul,
.soporte__ul,
.descargas__ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.w-us {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.footer-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 13rem;
    border-bottom: 1px solid #ededed;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
    padding-top: 2rem;
}

.footer-main-title {
    font-size: 23px;
    margin-bottom: 1rem;
}

.footer-main-item {
    margin-top: 3rem;
    color: rgb(119, 119, 119);
}

.breadcrumb {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid #ededed;
}

.footer-bottom-item {
    font-size: 30px;
    margin-bottom: 4rem;
    color:rgb(83, 83, 83);
    cursor: pointer;
}

.footer-bottom-title {
    margin-bottom: 2rem;
    text-transform: capitalize;
}

.footer-main-item, .footer-bottom-item {
    transition-duration: 500ms;
}

.footer-main-item:hover, .footer-bottom-item:hover {
    color: black;
}

.footer-bottom {
    border-bottom: 1px solid #ededed;
}

.footer-copyright {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.copyright {
    color: rgb(83, 83, 83);
}

@media (max-width: 991px) {
    .footer {
        height: 60rem;
    }

    .footer-main {
        gap: 9rem;
    }
}

@media (max-width: 768px) {
    .footer-main {
        gap: 3rem;
        align-items: baseline;
        align-content: center;
        justify-content: flex-start;
    }

    .descargas__ul {
        margin-left: 0;
    }
}

@media (max-width: 576px) {
    .footer {
        height: 78rem;
    }

    .footer-main {
        flex-direction: column;
    }
}

@media (max-width: 334px) {
    .footer-bottom-item {
        font-size: 25px;
    }
    
    .w-us {
        gap: 30px;
    }
}